@page
@model ProblemsModel
@using DatabaseConnector.Models
@{
    ViewData["Title"] = "Problems";
}


<div class="text-center">
    <h1 class="display-4">Problems</h1>
    <a class="text-end" href="/Problems/new_problem" style="margin-right: 10px;">Add a problem</a> 
    <a asp-page="/AopsImporter">Import a problem from AoPS</a>

    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search by source or difficulty or id" />
    </div>
    
    <table class="table table-bordered table-hover" id="problemsTable">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Source</th>
            <th>Difficulty</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Problem p in Model.AopProblems)
        {
            <tr>
                <td>
                    <a href="/Problems/@p.Id" type="submit">@p.Id</a>
                </td>
                <td><a href="@p.Source.Url">@p.Source.Name</a></td>
                <td>@p.Difficulty.ToString()</td>
                <td>
                    <form method="post" class="d-inline">
                        <input type="hidden" asp-for="ProblemToAffect" value="@p.Id"/>
                        <input type="hidden" asp-for="Action" value="@ProblemsModel.Actions.Delete"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <a href="/Problems/@p.Id" type="submit" class="btn btn-sm btn-info d-inline">Edit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
</div>

<script>
    const table = document.getElementById("problemsTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element =>{
            contents[i] += element.innerText + " ";
        });

        contents[i] = contents[i].toLowerCase();
    }
    
    
    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) { 
            if (contents[i].includes(searchInput)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

</script>
