@page
@using DatabaseConnector.Models
@model AddUserModel
@{
ViewData["Title"] = "Add user";
}
<h2>Add User</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="UserInput.Username">Username</label>
        <input asp-for="UserInput.Username" class="form-control" />
        <span asp-validation-for="UserInput.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserInput.EnglishFirstName">English First Name</label>
        <input asp-for="UserInput.EnglishFirstName" class="form-control" />
        <span asp-validation-for="UserInput.EnglishFirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.EnglishLastName">English Last Name</label>
        <input asp-for="UserInput.EnglishLastName" class="form-control" />
        <span asp-validation-for="UserInput.EnglishLastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.ArabicFirstName">Arabic First Name</label>
        <input asp-for="UserInput.ArabicFirstName" class="form-control" />
        <span asp-validation-for="UserInput.ArabicFirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.ArabicLastName">Arabic Last Name</label>
        <input asp-for="UserInput.ArabicLastName" class="form-control" />
        <span asp-validation-for="UserInput.ArabicLastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.Birthday">Birthday</label>
        <input asp-for="UserInput.Birthday" type="date" value="2024-01-01" class="form-control" />
        <span asp-validation-for="UserInput.Birthday" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.Email">Email</label>
        <input asp-for="UserInput.Email" type="email" class="form-control" />
        <span asp-validation-for="UserInput.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.SchoolName">School Name</label>
        <input asp-for="UserInput.SchoolName" class="form-control" />
        <span asp-validation-for="UserInput.SchoolName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.Wilaya">Wilaya</label>
        <select asp-for="UserInput.Wilaya" class="form-control">
            @foreach (var wilaya in Enum.GetValues(typeof(Wilaya)))
            {
            <option value="@wilaya">@wilaya</option>
            }
        </select>
        <span asp-validation-for="UserInput.Wilaya" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.SchoolType">School Type</label>
        <select asp-for="UserInput.SchoolType" class="form-control">
            @foreach (var schoolType in Enum.GetValues(typeof(SchoolType)))
            {
                <option value="@schoolType">@schoolType</option>
            }
        </select>
        <span asp-validation-for="UserInput.SchoolType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.SchoolYear">School Year</label>
        <select asp-for="UserInput.SchoolYear" class="form-control">
            @foreach (var schoolYear in Enum.GetValues(typeof(SchoolYear)))
            {
                <option value="@schoolYear">@schoolYear</option>
            }
        </select>
        <span asp-validation-for="UserInput.SchoolYear" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserInput.TshirtSize">T-shirt Size</label>
        <select asp-for="UserInput.TshirtSize" class="form-control">
            @foreach (var tshirtSize in Enum.GetValues(typeof(TshirtSize)))
            {
                <option value="@tshirtSize">@tshirtSize</option>
            }
        </select>
        <span asp-validation-for="UserInput.TshirtSize" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="UserInput.HasPassport" class="form-check-input" />
        <label asp-for="UserInput.HasPassport" class="form-check-label">Has Passport</label>
    </div>

    <button type="submit" class="btn btn-primary">Add User</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
