@page
@using DatabaseConnector
@model AopWebAdmin.Pages.Problemsets.ProblemsetsModel
@{
    ViewData["Title"] = "Problemsets";
}

<div class="text-center">
    <h1 class="display-4">Problemsets</h1>
    <a class="text-end" href="/Problemsets/new" style="margin-right: 10px;">Add a problemset</a>

    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search..."/>
    </div>

    <table class="table table-bordered table-hover" id="problemsTable">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Problems</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (MathProblemset p in Model.Problemsets)
        {
            <tr>
                <td>
                    <a href="/Problemsets/@p.Id" type="submit">@p.Id</a>
                </td>
                <td>@p.Name.EnglishDescription.Content</td>
                <td>@p.ProblemsIds.Count</td>
                <td>
                    <a href="/Problemsets/@p.Id" type="submit" class="btn btn-sm btn-info d-inline">Edit</a>
                    <form method="post" class="d-inline">
                        <input type="hidden" asp-for="ProblemsetToAffect" value="@p.Id"/>
                        <input type="hidden" asp-for="Action" value="@ProblemsetsModel.Actions.Delete"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>

<script>
    const table = document.getElementById("problemsTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element =>{
            contents[i] += element.innerText + " ";
        });

        contents[i] = contents[i].toLowerCase();
    }
    
    
    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) { 
            if (contents[i].includes(searchInput)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

</script>