@page
@using DatabaseConnector.Models
@model UsersModel
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    <a class="text-end" href="/Users/new">Add a user</a>

    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search..." />
    </div>
    
    <table class="table table-bordered table-hover" id="usersTable">
        <thead class="thead-dark">
        <tr>
            <th>Username</th>
            <th>English Name</th>
            <th>Arabic Name</th>
            <th>Birthdate</th>
            <th>Email</th>
            <th>School Year</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (DetailedUser u in Model.AopUsers)
        {
            <tr>
                <td>
                    <a href="/Users/@u.Id" style="color:@(u.Gender == Gender.Male ? "blue" : "fuchsia")">@u.Id</a>
                </td>
                <td>@u.EnglishName.FirstName @u.EnglishName.LastName</td>
                <td>@u.ArabicName.FirstName @u.ArabicName.LastName</td>
                <td>@u.Birthday</td>
                <td>@u.Email</td>
                <td>@u.SchoolYear</td>
                <td>
                    <a href="/Users/@u.Id" class="btn btn-sm btn-info d-inline">Edit</a>
                    <a href="/Users/Permissions/@u.Id" class="btn btn-dark btn-sm">Permissions</a>
                    <form method="post" class="d-inline">
                        <input type="hidden" asp-for="UserEmailToAffect" value="@u.Email"/>
                        <input type="hidden" asp-for="Action" value="@UsersModel.Actions.Delete"/>
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
                <td style="display: none">
                    @u.Gender
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>

<script>
    const table = document.getElementById("usersTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element =>{
            contents[i] += element.innerText + " ";
        });

        contents[i] = contents[i].toLowerCase();
    }
    
    
    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) { 
            if (contents[i].includes(searchInput)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

</script>