@page "/Users/Permissions/{RequestedUser}"
@using DatabaseConnector.Models
@model PermissionsModel
@{
ViewData["Title"] = "User Permissions - " + Model.RequestedUser;
}

<div class="container mt-5">
    <h2 class="mb-4">Permissions of User @Model.RequestedUser</h2>

    <form method="post">
        <div class="mb-3">
            <button type="submit" class="btn btn-success">Update Permissions</button>
        </div>

        <input asp-for="Permissions.Id" type="hidden" />

        <div class="form-group">
            <label asp-for="Permissions.IsStaff">User Type</label>
            <select asp-for="Permissions.IsStaff" class="form-control">
                <option value="false" selected="@(!Model.Permissions.IsStaff)")>Student</option>
                <option value="true" selected="@(Model.Permissions.IsStaff)">Staff</option>
            </select>
            <span asp-validation-for="Permissions.IsStaff" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Permissions.IsSuperUser">Super User</label>
            <select asp-for="Permissions.IsSuperUser" class="form-control">
                <option value="false" selected="@(!Model.Permissions.IsSuperUser)">No</option>
                <option value="true" selected="@(Model.Permissions.IsSuperUser)">Yes</option>
            </select>
            <span asp-validation-for="Permissions.IsSuperUser" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Permissions.Permissions">Permissions :</label>
            
            @foreach (var permission in Enum.GetNames(typeof(Permission)))
            {
                <input type="checkbox" onchange="() => UpdatePermission(permission)"> <label>@permission</label>
            }
        </div>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
