@page
@model ExamsModel
@using DatabaseConnector.Models
@{
ViewData["Title"] = "Exams";
}

<div class="text-center">
    <h1 class="display-4">Exams</h1>
    <a class="text-end" href="/Exams/new" style="margin-right: 10px;">Add an Exam</a>

    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search..."/>
    </div>

    <table class="table table-bordered table-hover" id="ExamsTable">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Start Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Exam e in Model.Exams)
        {
        <tr>
            <td>
                <a href="/Exams/@e.Id" type="submit">@e.Id</a>
            </td>
            <td>@e.Name.EnglishDescription.Content</td>
            <td>@e.StartTime.ToString("g")</td>
            <td>
                <a href="/Exams/@e.Id" type="submit" class="btn btn-sm btn-info d-inline">Edit</a>
                <form method="post" class="d-inline">
                    <input type="hidden" asp-for="RequestedExam" value="@e.Id"/>
                    <input type="hidden" asp-for="Action" value="@ExamsModel.Actions.Delete"/>
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        }
        </tbody>
    </table>

</div>

<script>
    const table = document.getElementById("ExamsTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element =>{
            contents[i] += element.innerText + " ";
        });

        contents[i] = contents[i].toLowerCase();
    }

    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) {
            if (contents[i].includes(searchInput)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>
