@page
@model SubmissionsModel
@using DatabaseConnector.Models
@{
ViewData["Title"] = "Submissions";
}

<div class="text-center">
    <h1 class="display-4">Submissions</h1>
    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search..." />
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center" id="submissionsTable">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Group</th>
                <th>Problem</th>
                <th>Timestamp</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (StudentSubmission submission in Model.Submissions)
            {
                <tr>
                    <td>
                        <a href="/Problems/Submissions/@submission.Id">@submission.Id</a>
                    </td>
                    <td>@submission.User</td>
                    <td>@submission.Group</td>
                    <td>@submission.Problem</td>
                    <td>@submission.Timestamp.ToString("g")</td>
                    <td>
                        <a href="/Problems/Submissions/@submission.Id" class="btn btn-sm btn-info">Edit</a>
                        <form method="post" class="d-inline">
                            <input type="hidden" asp-for="RequestedSubmission" value="@submission.Id"/>
                            <input type="hidden" asp-for="Action" value="@SubmissionsModel.Actions.Delete"/>
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        </div>
</div>

<script>
    const table = document.getElementById("submissionsTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element =>{
            contents[i] += element.innerText + " ";
        });
        contents[i] = contents[i].toLowerCase();
    }

    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) {
            if (contents[i].includes(searchInput)) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>
