@page
@model QuizzesModel
@using DatabaseConnector.Models
@{
ViewData["Title"] = "Quizzes";
}

<div class="text-center">
    <h1 class="display-4">Quizzes</h1>
    <a class="text-end" href="/Quizzes/new" style="margin-right: 10px;">Add a quiz</a>

    <div class="mb-3">
        <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control" placeholder="Search..." />
    </div>

    <table class="table table-bordered table-hover" id="quizzesTable">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name (English)</th>
            <th>Points</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Quiz quiz in Model.Quizzes)
        {
        <tr>
            <td>
                <a href="/Quizzes/@quiz.Id">@quiz.Id</a>
            </td>
            <td>@quiz.Name.EnglishDescription.Content</td>
            <td>@quiz.Points</td>
            <td>
                <form method="post" class="d-inline">
                    <input type="hidden" asp-for="QuizToAffect" value="@quiz.Id" />
                    <input type="hidden" asp-for="Action" value="@QuizzesModel.Actions.Delete" />
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
                <a href="/Quizzes/@quiz.Id" class="btn btn-sm btn-info d-inline">Edit</a>
            </td>
        </tr>
        }
        </tbody>
    </table>
</div>

<script>
    const table = document.getElementById("quizzesTable");
    const rows = table.getElementsByTagName("tr");

    let contents = new Array(rows.length);
    for (let i = 1; i < rows.length; i++) {
        contents[i] = "";
        Array.prototype.slice.call(rows[i].getElementsByTagName("td")).forEach(element => {
            contents[i] += element.innerText + " ";
        });

        contents[i] = contents[i].toLowerCase();
    }

    function filterTable() {
        const searchInput = document.getElementById("searchInput").value.toLowerCase();
        for (let i = 1; i < rows.length; i++) {
            rows[i].style.display = contents[i].includes(searchInput) ? "" : "none";
        }
    }
</script>
